<div id="mainwrapper">
  <header>
    <!--**************************************************************************
    Header
    ****************************************************************************-->
    <div id="logo">
      <%= image_tag 'logo2.png', class: 'header-logo', style: "max-height: 50%; max-width: 40%; padding-top: 10px; padding-left:31%"%>
    </div>
    <nav><%= link_to "Sign in with GitHub", "/auth/github" %></nav>
  </header>
  <div id="content">

    <section id="mainContent">
      <!--************************************************************************
    Main Blog
    ****************************************************************************-->
      <aside id="mainExcerpt">
        <!-- The author information is contained here -->
        <h2>The easiest way to update your site.</h2>
        <div id="bannerImage">
          <%= image_tag 'bananasgraphic.png'%>
        </div>

        <p><b>NotBananas</b> is a simple plugin that allows you to make changes to your website without any technical knowledge. </p>
      </aside>
      <aside id="gettingStarted">
      <h2>GETTING STARTED</h2>
      <p>1. Login to GitHub through our site.</p>
      <p>2. Select projects.</p>
      <p>3. Make changes. </p>
      <p>Remove</p>
      </aside>

    </section>

    <footer>
      <!--************************************************************************
    Footer starts here
    ****************************************************************************-->
      <article>
        <h3>Contact Us</h3>
        <!-- <p>821 Johnson street</p> -->
        <p>contactus@notbananas.com</p>
      </article>
      <article>
        <h3>Pricing</h3>
        <p>Flat and Simple: $5 a month</p>
      </article>
    </footer>
  </div>
  <div id="footerbar">&copy; 2015 <i>Not</i> Bananas</div>
</div>
