<div id="mainwrapper">
  <header>
    <!--**************************************************************************
    Header
    ****************************************************************************-->
    <div id="logo">
      <%= image_tag 'logo2.png', class: 'header-logo' %>
    </div>
    <nav> <%= link_to "Sign in with GitHub", "/auth/github" %> <a href="#" title="Link">Get Started</a> <a href="#" title="Link">Buy</a></nav>
  </header>
  <div id="content">

    <section id="mainContent">
      <!--************************************************************************
    Main Blog
    ****************************************************************************-->
      <aside id="mainExcerpt">
        <!-- The author information is contained here -->
        <h2>The easiest way to update your site.</h2>
        <div id="bannerImage">
          <%= image_tag 'banana.jpg', class: "banana.jpg" %>
        </div>

        <!-- <p>The life is jank. This is where we explain what this shitty shit is. Something like "the coolest shit you'll ever see simulator 2016" or something like that. ok bye.</p> -->
      </aside>
      <aside id="gettingStarted">
      <h2>Getting Started</h2>
      <p>1. Login to github through our site</p>
      <p>2. All of your projects will be added to the project page, and you can check each box in order to add the hook url to the project.</p>
      <p>3. From here you can update your github repo's and the hook will push your changes directly to the page without having to commit or push!</p>
      </aside>

    </section>

    <footer>
      <!--************************************************************************
    Footer starts here
    ****************************************************************************-->
      <article>
        <h3>Contact</h3>
        <p href="mailto:">customerservice@notbananas.com</p>
      </article>
      <article>
        <h3>Pricing</h3>
        <p>5 dollars a month</p>
      </article>
    </footer>
  </div>
  <div id="footerbar">&copy; 2015 <i>Not</i> Bananas</div>
</div>
