<div id="mainwrapper">
  <header>
    <!--**************************************************************************
    Header
    ****************************************************************************-->
    <div id="logo">
      <%= image_tag 'logo2.png', class: 'header-logo' %>
    </div>
    <nav> <%= link_to "Sign in with GitHub", "/auth/github" %>&nbsp; | &nbsp; <a href="#" title="Link">Get Started</a></nav>
  </header>
  <div id="content">

    <section id="mainContent">
      <!--************************************************************************
    Main Blog
    ****************************************************************************-->
      <aside id="mainExcerpt">
        <!-- The author information is contained here -->
        <h2>The easiest way to update your site.</h2>
        <div id="bannerImage">
          <%= image_tag 'banana.jpg'%>
        </div>

        <!-- <p>The life is jank. This is where we explain what this shitty shit is. Something like "the coolest shit you'll ever see simulator 2016" or something like that. ok bye.</p> -->
      </aside>
      <aside id="gettingStarted">
      <h2>Getting Started</h2>
      <p>1. Login to GitHub through our site</p>
      <p>2. Your projects will be added automatically to the projects page, where you can choose which sites you would like to add.</p>
      <p>3. From here you can edit your sites live without pushing through GitHub or requiring dev time!</p>
      </aside>

    </section>

    <footer>
      <!--************************************************************************
    Footer starts here
    ****************************************************************************-->
      <article>
        <h3>Contact Us</h3>
        <!-- <p>821 Johnson street</p> -->
        <p>contactus@notbananas.com</p>
      </article>
      <article>
        <h3>Pricing</h3>
        <p>Flat and Simple: 5 dollars a month</p>
      </article>
    </footer>
  </div>
  <div id="footerbar">&copy; 2015 <i>Not</i> Bananas</div>
</div>
