<h1>Projects#index</h1>
<p>Find me in app/views/projects/index.html.erb</p>
<p>Presumably we'd have a list of the different projects, and then each would link to a <%= link_to 'show', show_path %> page which whould allow you to enable it.</p>
