<div id="mainwrapper">
  <header>
    <!--**************************************************************************
    Header
    ****************************************************************************-->
    <div id="logo">
      <a href='/'><%= image_tag 'logo2.png', class: 'header-logo', style: "max-height: 50%; max-width: 40%; padding-top: 10px; padding-left:31%"%></a>
    </div>
    <nav><%= link_to "Sign in with GitHub", "/auth/github" %></nav>
  </header>
  <div id="content">

    <div id="mainContent">
      <!--************************************************************************
    Main Blog
    ****************************************************************************-->
      <div id="mainExcerpt">

        <h2></h2>
        <h1 class="project-title">Your Projects</h1>
        <div class="content-container">
          <ul>
            <% @repositories.each do |repo| %>
            <li class="project-item">
              <span><%= repo.full_name %></span>
              <% if repo.enabled %>
              <p>This repo is already not bananas!</p>
              <% else %>
              <%= link_to "Enable Not Bananas", projects_path(gh_name: repo.full_name), method: 'POST' %>
              <% end %>
            </li>
            <% end %>
          </ul>
        </div>
        <h2></h2>
      </div>
    </div>

  </div>

    <footer>
      <!--************************************************************************
    Footer starts here
    ****************************************************************************-->
      <article>
        <h3>Contact Us</h3>
        <!-- <p>821 Johnson street</p> -->
        <p>contactus@notbananas.com</p>
      </article>
      <article>
        <h3>Pricing</h3>
        <p>Flat and Simple: $5 a month</p>
      </article>
    </footer>
  </div>
  <div id="footerbar">&copy; 2015 <i>Not</i> Bananas</div>
</div>
